.page-three {
    position: fixed;
    height: fit-content;
    
}

.about-me {
    /* background: #8a84ff; */
    /* background: linear-gradient(to bottom, rgba(156, 22, 245, 0.4) 0%,  rgba(69, 56, 248, 0.39) 44%, rgba(187, 28, 250, 0) 100%); */
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    background-position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 3rem;
    
}

.about-me__title {
margin-bottom: 2rem;
padding-left: 1em;
text-align: left;
color: #fff;
font-size: 3rem;
}

.about-me__body {
    padding: 2em;
} 

.rotate {
    transform: scaleX(-1) translatey(9.25em) rotate(180deg);
    
    /* background-color: black; */
}