.page-three {
    position: fixed;
    height: fit-content;
    
}

.about-me {
    background-color: #1F261A;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 15rem;
    
}

.about-me__right {
}

.about-me__left {
    /* justify-content: left; */
} 

.rotate {
    transform: scaleX(-1) translatey(9.25em) rotate(180deg);
    
    /* background-color: black; */
}