
.pageOne {
    background: url('../../util/images/other.jpeg')  no-repeat center;
    background-size: cover;
    position: relative;
    /* filter: grayscale(85%); */
    text-align: center;
    height: 90vh;
    width: 100vw;
    color: #fff;
  }


.title-block {
  padding-right: 1.5em;
  /* float: left; */
  text-align: right;
}

.title-block__title {
  padding: 0;
  margin: 0;
}

.titel-block__subtitle{
  color: rgb(199, 199, 199);
  margin-top: -1em;
}

.bottom {
  margin-top: 25vh
}


@media only screen and (max-width: 650px) {
  .title-block {
    padding-right: 0em;
    padding-top: .5em;
    /* float: left; */
    text-align: center;
  }
}